@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Google Sans Flex;
    color: white;
    text-decoration: none;
    user-select: none;
}

a{
    color: white;
}

body{
    background-image: linear-gradient(40deg,rgb(0, 0, 28),rgb(0, 27, 27));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

button{
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.200);
}

.logo{
    font-family: Bungee;
    text-align: center;
    margin: 10px;
    color: rgb(255, 255, 213);
}

.student-form{
    border: 0.5px solid rgba(255, 255, 255, 0.400);
    width: min-content;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    background-color: rgba(255, 255, 255, 0.100);
}

input #file-upload-button{
    background-color: white;
    color: black;
}

.student-form input{
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.400);
    padding: 5px;
    margin: 15px 5px;
}

.student-form label{
    font-weight: 700;
}

.student-form input::placeholder{
    color: white;
}

.student-form button{
    margin: auto;
    display: block;
}

h3,h4{
    text-align: center;
}

.add-college-form{
    margin: auto;
    display: block;
    border: 0.5px solid white;
    padding: 10px;
    width: min-content;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.100);

}

.add-college-form input,textarea{
    background-color: transparent;
    border: 0.5px solid white;
    margin: 10px;
    padding: 5px;
}

.college-button{
    margin: auto;
    display: block;
}

.add-department-form{
    border: 0.5px solid white;
    padding: 15px;
    border-radius: 7px;
    margin: auto;
    display: block;
    width: min-content;
    background-color: rgba(255, 255, 255, 0.100);

}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.add-department-form input{
    margin: 10px;
    background-color: transparent;
    border: 0.5px solid white;
    padding: 10px;
}

.add-department-form button{
    margin: auto;
    display: block;
}

.college-table td,th{
    border:0.5px solid white;
    padding: 20px; 
}

table tr:hover{
    background-color: rgba(240, 255, 255, 0.100);
}

.college-logo{
    width: 70px;
    pointer-events: none;
}

.department-card{
    border: 0.5px solid white;
    background-color: rgba(255, 255, 255, 0.200);
    width: max-content;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.flexcenter{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}