@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Google Sans Flex;
    color: white;
    text-decoration: none;
}

body{
    background-image: linear-gradient(40deg,rgb(0, 0, 28),rgb(0, 27, 27));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

button{
    background-color: transparent;
    border: 0.5px solid rgb(255, 255, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.200);
}

.logo{
    font-family: Bungee;
    text-align: center;
    margin: 10px;
}

.student-form{
    border: 0.5px solid rgba(255, 255, 255, 0.400);
    width: min-content;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    background-color: rgba(255, 255, 255, 0.100);
}

input #file-upload-button{
    background-color: white;
    color: black;
}

.student-form input{
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.400);
    padding: 5px;
    margin: 15px 5px;
}

.student-form label{
    font-weight: 700;
}

.student-form input::placeholder{
    color: white;
}

.student-form button{
    margin: auto;
    display: block;
}

h3,h4{
    text-align: center;
}