{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Campus Flow</title>
</head>
<body>
    <header>
        <h2 class="logo">Campus Flow</h2>
    </header>
    
    <form action="" method="POST" enctype="multipart/form-data" class="add-department-form">
        {%csrf_token%}
        {{department_form}}
        <button type="submit" class="department-button">Save</button>
    </form>


    {%for department in departments%}
      <br><a href="{%url "department" college.college_name department.department_name %}">{{department}}</a>
    {%endfor%}

</body>
</html>